.Jobly-HomePage {
    margin-top: 13em;
    color: white;
    /* text-shadow: 6px 3px 3px rgba(28,12,8,0.58); */
    font-size: larger;
}

button {
    /* border-radius: 8px; */
    font-size: larger;
    padding: 5px 10px;
    margin: 10px;
    /* border: 1px solid; */
    /* border-color: rgba(34, 57, 58, 0.299); */
    /* font-weight: bold; */
    /* cursor: pointer; */
}
