.Jobly-NavBar{
    padding: 1em;
    background-color: azure;
    height: 1.50em;
}

.Jobly-NavBar a{
    margin:0 1em;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: large;

}

.Jobly-NavBar a:hover{
    font-size: larger;
}

.Jobly-NavBar a.active{
    margin:0 1em;
    font-weight: bold;
}

.Jobly-NavBar .brand {
    float: left;
}

.Jobly-NavBar .NavLink {
    float: right;
  
    border-radius: 8px;
    font-size: larger;
    background-color:lightblue;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    
}

.Jobly-NavBar .Navlink:hover{
    background-color: rgb(143, 193, 210);   
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   
   }